doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Reset Password

    style.
      
      
      section .form_data {
        max-width: 550px;
        margin: 10vw auto;
        padding: 35px 10px;
        box-shadow: 0 0 30px -5px #2d3748;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .form_heading {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .form_data h1 {
        font-size: 34px;
        color: #2a4365;
      }

      .form_data form {
       
        width: 70%;
        padding: 10px 50px;
      }

      .input-password {
        display: block;
        width: 92%;
        padding: 15px;
        border: 1px solid #d4d0d0;
        border-radius: 5px;
        outline: none;
        margin-bottom: 14px;
        margin-top: 9px;
        font-size: 16px;
      }

   

      .input-password:focus {
        border: 2px solid rgba(66, 153, 225, 0.6);
      }

      .input-password::placeholder {
        color: #8694a8;
        letter-spacing: .5px;
        font-size: 14px;
      }

      .form_input .showpass {
        position: absolute;
        right: 0;
        width:100%,
        top: 1px;
        padding: 7px 10px;
        margin-right: 5px;
        margin-top: 12px;
        font-size: 14px;
        font-weight: 600;
        color: #2a4365;
        background-color: #EDF2F7;
        border-radius: 5px;
        cursor: pointer;
      }

      .submit-button {
        display: block;
        width: 100%;
        padding: 15px;
        border: none;
        outline: none;
        border-radius: 5px;
        background-color: #1a365d;
        color: #fff;
        font-weight: 600;
        font-size: 18px;
        margin-top: 10px;
        cursor: pointer;
        transition: all 0.3s;
      }

      .submit-button:hover {
        background-color: #97a1b1;
      }


  body
    if status
      script.
        alert("Your password has been reset successfully! You can now login.")
        window.close();
    else    
      section
        .form_data
          .form_heading
            h1 Reset Your Password

          form(action="", method="post")
            .form_input
            input(type="password", name="password", id="password", placeholder="Enter your new password",class="input-password")
            input(type="submit", value="Reset", class="submit-button")

          ToastContainer
