doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Link Expired

    style.

      section .form_data {
        max-width: 550px;
        margin: 10vw auto;
        padding: 35px 10px;
        box-shadow: 0 0 30px -5px #2d3748;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .form_heading {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .form_data h1 {
        font-size: 45px;
        color: #2a4365;
      }


  body

    section
      .form_data
        .form_heading
          h1 Link Expired !